

.main{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 51px;
    align-items: center;
}
.logotip{
    display: flex;
    align-items: center;
    gap: 11px;
}
.category{
    display: flex;
    align-items: center;
    gap: 45px;
}
.NavLink{
    text-decoration: none;    
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}
.NavLink:hover{
    color: rgb(239, 239, 120);
}
.NavLinkspan{
    color: #6E9C9F;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.NavLinkspan:hover{
    color: rgb(239, 239, 120);
}
.basket{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.Phone{
    display: flex;
    align-items: center;
    gap: 7px;
}
.Phone a{
    text-decoration: none;
}
