*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Container{
  width: 1110px;
  margin: auto ;
  
}
.Detail{
  display: flex;
  gap: 74px;
  margin-top: 102px;
  margin-bottom: 130px;
  align-items: center;
}
.detail-img img{
  width: 486px;
  height: 629px;
}
.detail-info h3{
   font-weight: 500;
   font-size: 40px;
   color: #000000;
}
.detail-info p{
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  color: #998E78;
}
.detail-btn{
   display: flex;
   margin-top: 70px;
   gap: 20px;
}
.detail-btn-1{
  width: 68px;
  height: 68px;
  border: 1px solid #AFAFAF;
  background: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;

}
.detail-btn-2{
  width: 268px;
  height: 68px;
  background-color: #6E9C9F;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: Center;

}
.About-h1{
  margin-top: 190px;
  font-weight: 500;
  font-size: 55px;
  color: #000000;
}
.About-1{
  margin-top: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 94px;
}
.About-text h3{
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.About-text li{
  margin-top: 46px;
  list-style: none;
  font-size: 17px;
  font-weight: 500;
  font: 500;
}
.About-Btn{
  text-align: center;
  margin-top: 130px;
  margin-bottom: 130px;
}
.About-Btn button{
  width: 260px;
  height: 68px;
  background-color: #6E9C9F;
  border: none;
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 500;
}
.Shop-h1{
  margin-top: 190px;
  margin-bottom: 190px;
  font-size: 55px;
  color: #000000;
  font-weight: 500;
}
.Shop-Btn{
  display: flex;
  gap: 10px;
  
}
.Shop-Btn button{
  padding: 19px 65px 19px 65px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  background: none;
}
.Shop-Btn button:hover{
  background-color: #000000;
  color: #FFFFFF;
}
.Shop-cards img{
  width: 350px;
  height: 478px;
}
.Shop-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 150px;
}
.Shop-cards h3{
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.Shop-cards p{
  text-align: center;
  margin-top: 7px;
  color: #9C9C9C;
  font-size: 15px;
  font-weight: 500;
}
.shop-main{
  display: flex;
  align-items: center;
  gap: 444px;
  margin-bottom: 26px;
}
.tovar-price{
  display: flex;
  align-items: center;
  gap: 167px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.tovar{
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.shop-basket{
  display: flex;
  align-items: center;
  margin-top: 49px;
  /* width: 989px; */
  height: 205px;
}
.basket-title{
  display: flex;
  align-items: center;
  width: 345px;
}
.shop-basket img{
    width: 136px;
    height: 205px;
    
}
#cart-btn{
   padding-right: 20px;
   background: none;
   border: none;
}
#cart-btn img{
  width: 12px;
  height: 12px;
}
.shop-basket h4{
  margin-left: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.shop-basket p{
  margin-left: 150px;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
#cart-btn-counter{
  margin-left: 180px;
  /* background-color: #AFAFAF; */
  background: none;
  border: 1px solid #AFAFAF;
}
#cart-btn-counter{
  width: 47px;
  height: 47px;
}
/* 47px */
.shop-basket span{
  margin-left: 215px;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.control-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 72px;
}
.control-btn-1{
  gap: 16px;
  display: flex;
}
.control-btn-1 button{
  padding: 22px 50px 22px 50px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #6E9C9F;
  background: none;
  border: 1px solid #6E9C9F;
}
.control-btn-2 button{
  padding: 22px 50px 22px 50px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #6E9C9F;
  background: none;
  border: 1px solid #6E9C9F; 
}
#total-basket-btn{
  padding: 22px 50px 22px 50px;
  background-color: #6E9C9F;
  border: none;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
}
.Total-cart{
  margin-top: 88px;
  margin-bottom: 130px;
  margin-left: 570px;
}
.Total-cart p{
    color: #000000;
    font-size: 17px;

    font-weight: 500;
}

.Total-cardss{
  margin-top: 28px;
  display: flex;
  gap: 15px;
}
.total-basket{
  width: 287px;
  background-color: #F1EADC;
  height: 68px;
  padding: 16px 31px 17px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-basket h3{
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}
.control-btn-1 input{
  border: none;
  border-bottom: 2px solid silver;
  width: 255px;
  font-size: 17px;
  font-weight: 500;
  color: #868686;
  padding-left: 5px;
  outline: none;
}
.Karta{
  width: 1109px;
  height: 476px;
  background: #DDDDDD;

  display: flex;
  justify-content: center; 
  align-items: center; 

  
}
.Karta p{
  color: #000000;
  font-size: 17px;
  font-weight: 500;
}
.map-contact{
  display: flex;
  align-items: center;
  gap: 111px;
  padding: 40px 0px;
  
}
.map-contact p{
  color: #000000;
  font-size: 17px;
  font-weight: 500;
}
.map-contact h5{
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  padding-top: 19px;
}
.inputs-contact h1{
  font-size: 25px;
  color: #000000;
  font-weight: 500;
  padding: 0px 0px 64px 0px;
}
.inputs-contact button{
  padding: 22px 50px 22px 50px;
  background-color: #6E9C9F;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  border: none;
  margin-top: 35px;
}
.inputs-contact input{
  width: 350px;
  height: 40px;
  /* padding: 10px 0px; */
  outline: none;
  border: none;
  border-bottom: 1px  solid #000000;
}
#inputs-contact-input3{
  margin-top: 10px;

}
#inputs-contact-input2{
  margin-top: 10px;

}
#inputs-contact-input{
  margin-top: 10px;
}
.inputs-contact textarea{
  margin-top: 16px;
  color: #868686;
  font-size: 17px;
  font-weight: 500;
  width: 443px;
  height: 134px;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 2px solid #000000;
  
}
.sobshenia{
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #F1EADC;
  width: 437px;
  padding: 30px 0px;
  margin-top: 62px;
  margin-bottom: 100px;
}